@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$primary-font: 'Convergence', sans-serif;
$secondary-font: "Roboto", sans-serif;
$tertiary-font: "Lato", sans-serif