@import "../../styles/colors.scss";

*{
    margin: 0;
}

.wrapper{
    background-color: $primary-color;
    height: 100vh;
}

.home{
    &__image{
        width: 100%;
        box-sizing: border-box;
        height: 400px;
        &__img{
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
    }
}