@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.navbar{
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
        background-color: $primary-color;
        z-index: 10;
    }
    &__icon{
        width: 100px;
        height: 100px;
        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__items{
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        margin: 0 20px;
        font-family: $primary-font;
        :active{
            border-bottom: 2px solid $secondary-color;
        }
        &__wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width:720px) {
                display: none;
            }
        }
    }
    &__menu--icon{
        color: #fff;
        display: none;
        @media screen and (max-width:720px) {
            display: block;
        }
    }
}

.sidebar{
    &__wrapper{
        width: 40%;
        position: absolute;
        top: 0;
        right: 0;
        height: auto;
        background-color: #f2f2f2;
        @media screen and(min-width:720px) {
            display: none;
        }
    }
    &__items{
        font-size: 1rem;
        font-weight: bold;
        color: #000;
        margin: 20px;
        font-family: $primary-font;
        &__wrapper{
            display: flex;
            flex-direction: column;
            margin: 30px 20px;
        }
    }
    &__close--icon{
        position:absolute;
        top: 5px;
        right: 0;
    }
}